// Variables
@import "variables";

// Navbar overrides
#uncgtheme-navbar {
  border-bottom-width: 2px;
  border-color: #ccc;
  border-bottom-color: #333;
  background-color: #ccc;

  .navbar-brand {
    color: #036;
  }

  .navbar-header {
    width: initial;
    margin-left: 15px;
  }
  .navbar-form {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  li {
    text-transform: uppercase;
    font-size: 12px;
    a {
      color: #036;
    }
  }

  .dropdown-menu {
    li.active {
      a {
        color: #fff;
      }
    }
  }

  .navbar-text {
    font-size: 12px;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
  #uncgtheme-navbar {
    .container-fluid {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  #uncgtheme-navbar {
    padding: 7px 0;
    .navbar-header {
      padding-right: 15px;
      margin-left: 0;
    }

    .home-icon {
      margin-right: 15px;
    }

    .navbar-collapse {
      border: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-nav {
      width: 100%;
      margin: 7.5px 0;
    }

    .navbar-right {
      margin-left: 15px;
    }
  }
}

// other overrides

#footer {
  margin-top: 24px;
}

.content-flash {
  margin-top: 12px;
}